body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header-section{
    height: 100px;
}
.navber{
    float: right;
    margin-bottom: 50px;
    height: 50px;
    margin-right: 135px;
}
.menu li{
    float: left;
    list-style: none;
    padding: 10px;
}
.menu li a{
    text-decoration: none;
    color: black;
}
section{
    height: 400px;
    margin-bottom: 100px;
    width: 80%;
    margin: 0 auto;
}
.half-section{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 3%;
    height: 400px;    
}

.name{
    font-size: 40px;
    font-weight: 700;
    color: tomato;
}
h1{
    font-size: 40px;
}
.left-content{
    margin-top: 20%;
}

.half-section img{
    width:auto;
    height: 400px;
    float: right;
    margin-right: 5%;
}

.second-img img{
    width:auto;
    height: 400px;
    float: left;
    margin-right: 5%;
}

.working-project{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 30%;
    float: left;
    margin-left: 1%;
    align-items: center;
    padding: 10px;
    background: white;
    border-radius: 10px;
}

.all-project{
width: 80%;
margin: 0 auto;
}
.second-part{
    height: 150px;
    padding-top:40px;
}

.first-part{
height: 150px;
}

.latest span{
    color: tomato;
}

.latest{
    text-align: center;
    padding-top: 50px;
    font-size: 35px;
    
}
.working-project img{
    width: 100%;
    float: left;
    padding-bottom: 20px;
}

.working-project p{
    text-align: center;
}

.title{
    margin-top: 10px;
    text-align: center;
    color: tomato;
}

.latest-working-project{
    height: 600px;
    background: rgb(252, 249, 249);
    width:100%;
}
.service-part{
    background: rgba(9, 105, 143, 0.205);
}

.button{
    background-image: linear-gradient(40deg, orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    border: none;
}

.footer{
    height: 200px;
    padding: 100px 0;
}

.contact{
    width: 70%;
    background-image: url(/image/footer.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    margin: 0 auto;
    border-radius: 15px;
    padding: 25px 30px;
    align-items: center;
    
}


.left{
    font-size: 30px;
    font-weight: 700;
    color: white;
    float: left;
    margin-top: 10px;
}

.right{
    margin-top: 60px;
    float: right;
}
.contact img{
    width: 100%;

}